.card {
    position: relative;
}

.card:hover {
    background-color:  rgb(47, 15, 47);
}


.description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info {
    display: flex;
    gap: 10px;
}

.cardName {
    align-self: center;
}

.hint_invisible {
    display: none;
    visibility: hidden;
    opacity: 0;
}

.hint {
    display: absolute;
    visibility: visible;
    opacity: 1;
}