.card {
    position: relative;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info {
    display: flex;
    gap: 10px;
}

.cardName {
    align-self: center;
}