.mainBox {
    max-width: 600px;
}

.inside {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 720px;
}

.inside::-webkit-scrollbar {
    width: 5px;
    /* ширина scrollbar */
}

.inside::-webkit-scrollbar-track {
    background: rgb(15, 15, 33);
    /* цвет дорожки */
}

.inside::-webkit-scrollbar-thumb {
    background-color: rgb(118, 118, 252);
    /* цвет плашки */
    border-radius: 20px;
    /* закругления плашки */
    border: 3px solid rgb(118, 118, 252);
    /* padding вокруг плашки */
}

.menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-content: center;
    grid-gap: 32px 24px;
    margin: 0;
    list-style: none;
}

.counter {
    position: absolute;
}

.tabBox {
    display: flex;
}

.a {
    text-decoration: none;
}